params {
    publish_dir = "output"
    run_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

timeline {
    enabled = true
    file    = "${params.publish_dir}/pipeline_info/${params.run_timestamp}/nextflow_timeline.html"
}
report {
    enabled = true
    file    = "${params.publish_dir}/pipeline_info/${params.run_timestamp}/nextflow_run.html"
}
trace {
    enabled = true
    file    = "${params.publish_dir}/pipeline_info/${params.run_timestamp}/nextflow_trace.txt"
}
dag {
    enabled = true
    file    = "${params.publish_dir}/pipeline_info/${params.run_timestamp}/nextflow_dag.html"
}
